/* Text */
@font-face {
  font-family: 'regularText';
  src: url('./../fonts/Haarlem\ Sans.ttf');
}
@font-face {
  font-family: 'text';
  src: url('../fonts/FallingSky-JKwK.ttf');
}
@font-face {
  font-family: 'boldText';
  src: url('../fonts/FallingSkyBold-zemL.ttf');
}
.regularText {
  font-family: 'regularText';
}
.text {
  font-family: 'text';
}
.boldText {
  font-family: 'boldText';
}

/* Media queries for responsive views */
@media (min-width: 851px) {
  .timeMobileText {
    font-size: 1.5rem;
  }
}
@media (max-width: 850px) {
  .nflSiteTeamText {
    font-size: 1.1rem;
  }
}
@media (min-width: 550px) {
  .atSymbol {
    width: 10%;
    height: 70%;
  }
}
@media (max-width: 550px) {
  .atSymbol {
    width: 30%;
    height: 70%;
  }
}
@media (max-width: 550px) {
  .teamStats {
    border-bottom: thin solid;
    border-color: white;
  }
}
@media (max-width: 550px) {
  .gamblingButton {
    width: 50%;
  }
}
@media (min-width: 550px) {
  .gamblingButton {
    width: 25%;
  }
}

@media (min-width: 460px) {
  .legalTeamNames {
    width: 200px;
  }
}
@media (min-width: 770px) {
  .cardWidth {
    width: 47%;
  }
}
@media (max-width: 770px) {
  .cardWidth {
    width: 87%;
  }
}

/* Static CSS */
.legalNFLTeamNames {
  width: 800px;
}
.lightText {
  color: slategray;
}
.smallText {
  font-size: xx-small;
}
.gamblingLogo {
  max-width: 160px;
  min-width: 16.67%;
}
.teamImgs {
  min-width: 50px;
  min-height: 50px;
}
.tableHeaderNormalWeight {
  font-weight: 600;
}
.dataTableBuffer {
  height: 24px;
}
table {
  border-spacing: 0px;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border: none;
}

.slateGrayBackground {
  background-color: lightslategray;
}
.gameDayCSS {
  width: 29%;
}
